@using Web.ViewModels.Chat
@model DetailsChatViewModel

<body class="bg-body-secondary">
	<div class="container bg-white shadow p-3 rounded-1" id="mainContainer">
		@{
			var messagesCount = Model.Messages.Count;
		}
		@for (int i = 0; i < messagesCount; i++)
		{ // Make it focus on last message, also change text input box
			if (Model.Messages[i].UserId == Model.UserId)
			{
				<div class="row mb-3" id="row_{@i}">
					<div class="col-6 fst-italic fw-lighter text-end">
						@Model.CalculateTime(Model.Messages[i].DateTime)
					</div>
					<div class="col-6 border border-2 bg-body-secondary fst-italic text-break rounded-2">
						<h6>@Model.Messages[i].Message</h6>
					</div>
				</div>
			}
			else
			{
				<div class="row mb-3" id="row_{@i}">
					<div class="col-6 border border-2 bg-primary-subtle border-primary-subtle fst-italic text-break rounded-2">
						<h6>@Model.Messages[i].Message</h6>
					</div>
					<div class="col-6 fst-italic fw-lighter text-start">
						@Model.CalculateTime(Model.Messages[i].DateTime)
					</div>
				</div>
			}
		}
	</div>
	<div class="container mt-2">
		<form id="messageForm" onsubmit="submitMessage('@Model.User2Id')">
			@Html.AntiForgeryToken()
			<div class="row">

				<div class="col-11">
					<input type="text" class="input-group-text text-start container" id="messageInput" name="Message" />
				</div>
				<div class="col-1">
					<button type="submit" class="btn btn-light">Send</button>
				</div>
			</div>
			<input type="hidden" name="ChatId" value="@Model.ChatId" />
		</form>
	</div>
</body>

@section Scripts {
	<script src="~/js/signalr.min.js" asp-append-version="true"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/JSMessage.js" asp-append-version="true" defer></script>
	<script>
		document.getElementById('row_{@(Model.Messages.Count - 1)}').scrollIntoView({behavior:"instant"});
	</script>
}