@using Web.ViewModels.Chat
@model IReadOnlyCollection<ChatIndexViewModel>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="mainBG">
	<div class="container secondaryBG shadow p-3">
		@foreach (var chat in Model)
		{
			<div class=" borderMain p-2">

				<div class="row mt-2">

					<a asp-action="Details" asp-controller="Chat" asp-route-id="@chat.ChatId" style="text-decoration:none;" class="text-center mainText fw-bold fs-4 @chat.ColorClass">@chat.Username</a>
				</div>
				<div class="row">

					@if (chat.LastMessage is not null)
					{
						<h5 class="text-center fst-italic secondaryText text-truncate" id="message_@chat.UserId">@chat.LastMessage.Message</h5>
						<h6 class="text-center fst-italic secondaryText text-truncate" id="messageDate_@chat.UserId">@chat.LastMessage.DateTime.ToShortTimeString()</h6>
					}
					else
					{
						<h5 class="text-center fst-italic text-black-50" id="message_@chat.UserId">Be the first to send a message!</h5>
					}
				</div>
			</div>
		}
	</div>
</body>

@section Scripts {
	<link rel="stylesheet" href="~/css/btnsCSS.css" asp-append-version="true"/>
	<script src="~/js/signalr.min.js" asp-append-version="true"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/JSChat.js" asp-append-version="true" defer></script>
}