@using Web.ViewModels.Chat
@model IReadOnlyCollection<ChatIndexViewModel>
<body class="mainBG">
	<div class="container secondaryBG shadow p-3">
		@foreach (var chat in Model)
		{
			<div class="row mt-2">

				<a asp-action="Details" asp-controller="Chat" asp-route-id="@chat.ChatId" style="text-decoration:none" class="text-center fw-bold fs-5 @chat.ColorClass">@chat.Username</a>
			</div>
			<div class="row border-bottom border-2">

				@if (chat.LastMessage is not null)
				{
					<h5 class="text-center fst-italic text-black-50 text-truncate" id="message_@chat.UserId">@chat.LastMessage.Message</h5>
					<h5 class="text-center fst-italic text-black-50 text-truncate" id="messageDate_@chat.UserId">@chat.LastMessage.DateTime.ToShortTimeString()</h5>
				}
				else
				{
					<h5 class="text-center fst-italic text-black-50" id="message_@chat.UserId">Be the first to send a message!</h5>
				}
			</div>
		}
	</div>
</body>

@section Scripts {
	<link rel="stylesheet" href="~/css/btnsCSS.css" asp-append-version="true"/>
	<script src="~/js/signalr.min.js" asp-append-version="true"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/JSChat.js" asp-append-version="true" defer></script>
}