@using NoFilterForum.Models.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    if (Model.IsAdmin)
    {
        <form asp-action="CreateSection" asp-controller="Home" method="post">
            @Html.AntiForgeryToken()
            <input name="title" placeholder="Title of the section" type="text" />
            <input name="description" placeholder="Description of the section" type="text" />
            <button type="submit">Create Section</button>
        </form>
    }
    foreach(var section1 in Model.Sections)
    {
        <a asp-action="PostsMain" asp-route-title="@section1.Title"><h2>@section1.Title</h2></a>
        <h4>@section1.Description</h4>
        if (Model.IsAdmin)
        {
        <form asp-action="DeleteSection" asp-route-id="@section1.Id">
        @Html.AntiForgeryToken()
            <button type="submit">Delete Section</button>
        </form>
        }
    }
}