@using System.Web
@using NoFilterForum.Core.Models.ViewModels

@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Errors != null)
{
    foreach(var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}
@{
    if (Model.IsAdmin)
    {
        <form asp-action="CreateSection" asp-controller="Home" method="post">
            @Html.AntiForgeryToken()
            <input name="Title" placeholder="Title of the section" type="text" />
            <input name="Description" placeholder="Description of the section" type="text" />
            <button type="submit">Create Section</button>
        </form>
    }
    foreach(var section1 in Model.Sections)
    {
        var endodedSection = HttpUtility.UrlEncode(section1.Title);
        <a asp-action="PostsMain" asp-route-title="@endodedSection"><h2>@section1.Title</h2></a>
        <h4>@section1.Description</h4>
        if (Model.IsAdmin)
        {
        <form asp-action="DeleteSection" asp-route-id="@section1.Id" method="post">
        @Html.AntiForgeryToken()
            <button type="submit">Delete Section</button>
        </form>
        }
    }
}