@using NoFilterForum.Core.Models.ViewModels

@model NotificationViewModel
@{
	int warningsCount = Model.Warnings.Count;
	@if (warningsCount > 1)
	{
		<h3 style="color:red; font-weight:bold">You have been given couple warnings with the messages:</h3>
	}
	else if (warningsCount == 1)
	{
		<h3 style="color:red; font-weight:bold">You have been given a warning with the message:</h3>
	}
	@for (int i = 0; i < warningsCount; i++)
	{
		<h4 style="color:red">Warning @(i + 1): <br /> @Model.Warnings[i].Content</h4>
	}
	@if (warningsCount > 0)
	{
		<form asp-action="AcceptWarnings" asp-controller="Home" method="post">
			@Html.AntiForgeryToken()
			<button type="submit">I understand</button>
		</form>
	}
	foreach (var notification in Model.Notifications)
	{
		<h3>
			@notification.UserFrom.UserName tagged you in <a asp-action="PostView" asp-route-isFromProfile="true" asp-controller="Home" asp-route-replyId="@notification.Reply.Id" asp-route-titleOfSection="" asp-route-id="@notification.Reply.Post.Id">@notification.Reply.Post.Title</a>
		</h3>
		<h4><i>@notification.Reply.Content</i></h4>
	}
	if (Model.Notifications.Any())
	{
		<form asp-action="ReadNotifications" asp-controller="Home" method="post">
			@Html.AntiForgeryToken()
			<button type="submit">Mark as read</button>
		</form>
	}

}