@using NoFilterForum.Global_variables
@using NoFilterForum.Models.ViewModels
@model PostViewModel
@if (Model.Post.User.UserName != GlobalVariables.DefaultUser.UserName)
{
	<a asp-action="Profile" asp-route-userName="@Model.Post.User.UserName">@Model.Post.User.UserName</a>
}
else
{
	<h5 style="text-decoration:line-through">@Model.Post.User.UserName</h5>
}
<h1>@Model.Post.Title</h1>
<h5>@Model.Post.Content</h5>
@if (Model.Post.User.UserName == this.User.Identity.Name || GlobalVariables.adminNames.Contains(this.User.Identity.Name))
{
	<form asp-action="DeletePost" asp-route-id="@Model.Post.Id" asp-route-titleOfSection="@Model.Title" method="post">
		@Html.AntiForgeryToken()
		<button type="submit">Delete Post</button>
	</form>
}
@{
	<form asp-action="CreateReply" asp-controller="Home" asp-route-postid="@Model.Post.Id" asp-route-title="@Model.Title" method="post">
		@Html.AntiForgeryToken()
		<input type="text" name="content" placeholder="Write a reply..."/>
		<button type="submit">Create reply</button>
	</form>
	@foreach(var reply in Model.Replies)
	{
		if (reply.User.UserName != GlobalVariables.DefaultUser.UserName)
		{
			<a asp-action="Profile" asp-route-userName="@reply.User.UserName">@reply.User.UserName</a>
		}
		else
		{
			<h5 style="text-decoration:line-through">@reply.User.UserName</h5>
		}
		<h5>@reply.Content</h5>
		@if (reply.User.UserName == this.User.Identity.Name || GlobalVariables.adminNames.Contains(this.User.Identity.Name))
		{
			<form asp-action="DeleteReply" asp-route-id="@reply.Id" asp-route-title="@Model.Title" method="post">
			@Html.AntiForgeryToken()
				<button type="submit">Delete Reply</button>
			</form>
		}
	}
}