@using NoFilterForum.Models.ViewModels
@model PostsViewModel

<form asp-action="CreatePost" asp-controller="Home" method="post">
	<input hidden type="text" name="titleOfSection" value="@Model.Title" />
	<input type="text" name="title" placeholder="Title of the post" />
	<input type="text" name="body" placeholder="Body of the post" />
	@Html.AntiForgeryToken()
	<button type="submit">Create post</button>
</form>
@{
	foreach(var post in Model.Posts)
	{
		<a asp-action="PostView" asp-route-id="@post.Id" asp-route-titleOfSection="@Model.Title"><h3>@post.Title | @post.User.Role.ToString()</h3></a>
		<br />
	}
}