@using NoFilterForum.Global_variables
@using NoFilterForum.Models.ViewModels
@model PostViewModel
@if (Model.Post.User.UserName != GlobalVariables.DefaultUser.UserName)
{
	<a asp-action="Profile" asp-route-userName="@Model.Post.User.UserName">@Model.Post.User.UserName</a>
}
else
{
	<h5 style="text-decoration:line-through">@Model.Post.User.UserName</h5>
}
<h1>@Model.Post.Title</h1>
<h5>@Html.Raw(Model.Post.Content)</h5>
@{
	var timeDiff = DateTime.UtcNow - Model.Post.DateCreated;
	void ShowTime(TimeSpan timediff)
	{
		if ((timediff.TotalDays / 31) < 12)
		{
			if (timediff.TotalDays <= 31)
			{
				if (timediff.TotalDays < 1)
				{
					if (timediff.TotalHours < 1)
					{
						if (timediff.TotalMinutes < 1)
						{
							<h6>@timediff.TotalSeconds.ToString("0") seconds ago</h6>
						}
						else
						{
							<h6>@timediff.TotalMinutes.ToString("0") minutes ago</h6>
						}
					}
					else
					{
						<h6>@timediff.TotalHours.ToString("0") hours ago</h6>
					}
				}
				else
				{
					<h6>@timediff.TotalDays.ToString("0") days ago</h6>
				}
			}
			else
			{
				<h6>@((timediff.TotalDays / 31).ToString("0")) months ago</h6>
			}
		}
		else
		{
			<h6>@((timediff.TotalDays / 31 / 12).ToString("0")) years ago</h6>
		}
	}
	ShowTime(timeDiff);
}
@if (Model.Post.User.UserName == this.User.Identity.Name || GlobalVariables.adminNames.Contains(this.User.Identity.Name))
{
	<form asp-action="DeletePost" asp-route-id="@Model.Post.Id" asp-route-titleOfSection="@Model.Title" method="post">
		@Html.AntiForgeryToken()
		<button type="submit">Delete Post</button>
	</form>
}
else
{
	<form asp-action="SendReportModel"asp-controller="Home" method="post">
		@Html.AntiForgeryToken()
		<input name="Content" type="text" placeholder="Reason for report..."/>
		<input type="hidden" name="IsPost" value="true"/>
		<input name="IdOfPostReply" type="hidden" value="@Model.Post.Id" />
		<input name="UserIdTo" type="hidden" value="@Model.Post.User.Id" />
		<input name="Title" type="hidden" value="@Model.Title" />
		<button type="submit">Send Report Model</button>
	</form>
}
@{
	<form asp-action="CreateReply" asp-controller="Home" asp-route-postid="@Model.Post.Id" asp-route-title="@Model.Title" method="post">
		@Html.AntiForgeryToken()
		<input type="text" name="content" placeholder="Write a reply..." />
		<button type="submit">Create reply</button>
	</form>
	<h2 style="color:red">@ViewBag.ErrorTime</h2>
	@foreach (var reply in Model.Replies)
	{
		if (reply.User.UserName != GlobalVariables.DefaultUser.UserName)
		{
			<a asp-action="Profile" asp-route-userName="@reply.User.UserName">@reply.User.UserName</a>
		}
		else
		{
			<h5 style="text-decoration:line-through">@reply.User.UserName</h5>
		}
		if (reply.Id == Model.ReplyId)
		{
			<h5 id="idrep_@reply.Id" style="background-color:lightgrey;">@Html.Raw(reply.Content)</h5>
		}
		else
		{
			<h5>@Html.Raw(reply.Content)</h5>
		}
		var timeDiffReply = DateTime.UtcNow - reply.DateCreated;
		ShowTime(timeDiffReply);
		@if (reply.User.UserName == this.User.Identity.Name || GlobalVariables.adminNames.Contains(this.User.Identity.Name))
		{
			<form asp-action="DeleteReply" asp-route-id="@reply.Id" asp-route-title="@Model.Title" method="post">
				@Html.AntiForgeryToken()
				<button type="submit">Delete Reply</button>
			</form>
		}
		else
		{
			<form asp-action="SendReportModel" asp-controller="Home" method="post">
				@Html.AntiForgeryToken()
				<input name="Content" type="text" placeholder="Reason for report..." />
				<input type="hidden" name="IsPost" value="false" />
				<input name="IdOfPostReply" type="hidden" value="@reply.Id" />
				<input name="UserIdTo" type="hidden" value="@reply.User.Id" />
				<input name="Title" type="hidden" value="@Model.Title" />
				<button type="submit">Send Report Model</button>
			</form>
		}
		<form asp-action="CreateReply" asp-controller="Home" asp-route-postid="@Model.Post.Id" asp-route-title="@Model.Title" method="post">
			@Html.AntiForgeryToken()
			<input type="text" name="content" value="@($"@{reply.User.UserName}")" placeholder="Write a reply..." />
			<button type="submit">Reply to @reply.User.UserName</button>
		</form>
	}
	<br />
	<form asp-action="CreateReply" asp-controller="Home" asp-route-postid="@Model.Post.Id" asp-route-title="@Model.Title" method="post">
		@Html.AntiForgeryToken()
		<input type="text" name="content" placeholder="Write a reply..." />
		<button type="submit">Create reply</button>
	</form>
}
<script>
	document.addEventListener("DOMContentLoaded", function() {
			var targetLabel = document.getElementById("idrep_@Model.ReplyId");
			if (targetLabel)
			{
				targetLabel.scrollIntoView({ behavior: "smooth", block: "start" });
			}
	});
</script>