@using System.Web
@using NoFilterForum.Core.Models.DataModels
@using NoFilterForum.Core.Models.ViewModels
@using NoFilterForum.Global_variables
@model PostsViewModel
<h2 style="color:red">@ViewBag.ErrorTime</h2>
<form asp-action="CreatePost" asp-controller="Home" method="post">
	<input hidden type="text" name="TitleOfSection" value="@Model.Title" />
	<input type="text" name="Title" placeholder="Title of the post" />
	<input type="text" name="Body" placeholder="Body of the post" />
	@Html.AntiForgeryToken()
	<button type="submit">Create post</button>
</form>
@{
	void ShowTime(TimeSpan timediff)
	{
		if ((timediff.TotalDays / 31) < 12)
		{
			if (timediff.TotalDays <= 31)
			{
				if (timediff.TotalDays < 1)
				{
					if (timediff.TotalHours < 1)
					{
						if (timediff.TotalMinutes < 1)
						{
							<h6>@timediff.TotalSeconds.ToString("0") seconds ago</h6>
						}
						else
						{
							<h6>@timediff.TotalMinutes.ToString("0") minutes ago</h6>
						}
					}
					else
					{
						<h6>@timediff.TotalHours.ToString("0") hours ago</h6>
					}
				}
				else
				{
					<h6>@timediff.TotalDays.ToString("0") days ago</h6>
				}
			}
			else
			{
				<h6>@((timediff.TotalDays / 31).ToString("0")) months ago</h6>
			}
		}
		else
		{
			<h6>@((timediff.TotalDays / 31 / 12).ToString("0")) years ago</h6>
		}
	}
	foreach (var post in Model.Posts)
	{
		<a asp-action="PostView" asp-route-id="@HttpUtility.UrlEncode(post.Id)" asp-route-titleOfSection="@Model.Title">
			<h3>
				@post.Title @if (post.User.Role == UserRoles.Admin)
				{
					<h6 class="text-danger">@post.User.UserName</h6>
				}
				else if (post.User.Role == UserRoles.VIP)
				{
					<h6 class="text-warning">@post.User.UserName</h6>
				}
				else if (post.User.Role == UserRoles.Regular)
				{
					<h6 class="text-light">@post.User.UserName</h6>
				}
				else if (post.User.Role == UserRoles.Dinosaur)
				{
					<h6 class="text-primary">@post.User.UserName</h6>
				}
				else
				{
					<h6 class="text-dark">@post.User.UserName</h6>
				}
			</h3>
		</a>
		var timeDiff = DateTime.UtcNow - post.DateCreated;
		ShowTime(timeDiff);
		if (UserConstants.adminNames.Contains(this.User.Identity.Name))
		{
			if (post.IsPinned)
			{
				<form asp-action="PinPost" asp-controller="Admin" method="post" asp-route-postId="@post.Id">
					@Html.AntiForgeryToken()
					<button type="submit">Unpin post</button>
				</form>
			}
			else
			{
				<form asp-action="PinPost" asp-controller="Admin" method="post" asp-route-postId="@post.Id">
					@Html.AntiForgeryToken()
					<button type="submit">Pin post</button>
				</form>
			}
		}
		<br />
	}
	int prevPage = Model.Page - 1;
	int nextPage = Model.Page + 1;
	if (Model.TotalPages == 0 || Model.TotalPages == 1)
	{

	}
	else if (Model.Page == 1)
	{
		<a asp-action="PostsMain" asp-controller="Home" asp-route-page="@nextPage" asp-route-title="@Model.Title">Next page</a>
	}
	else if (Model.Page == Model.TotalPages)
	{
		<a asp-action="PostsMain" asp-controller="Home" asp-route-page="@prevPage" asp-route-title="@Model.Title">Previous page</a>
	}
	else if (Model.Page > 1 && Model.Page < Model.TotalPages)
	{

		<a asp-action="PostsMain" asp-controller="Home" asp-route-page="@nextPage" asp-route-title="@Model.Title">Next page</a>
		<a asp-action="PostsMain" asp-controller="Home" asp-route-page="@prevPage" asp-route-title="@Model.Title">Previous page</a>
	}
}