@using NoFilterForum.Global_variables
@using NoFilterForum.Models.DataModels
@using NoFilterForum.Models.ViewModels
@using System.Web
@model ProfileViewModel
@{
	<img src="@Model.User.ImageUrl" width="200" height="200" />
	if (Model.IsSameUser)
	{
		if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<h1 style="color:red">@ViewBag.Error</h1>
		}
		<h1>Hello!</h1>
		<h6>You have: @Model.User.Warnings.Count warnings</h6>
		<h2>Your info (This information is only visible by you): </h2>
		<h3>Email: @Model.User.Email</h3>
		<h3>Your account was created on @Model.User.DateCreated.ToLongDateString()</h3>
		<h3>Your bio: @Html.Raw(Model.User.Bio)</h3>
		<form asp-action="SetBio" asp-controller="Home" asp-route-userid="@Model.User.Id" method="post">
			@Html.AntiForgeryToken()
			<input name="bio" placeholder="Your bio..." type="text" />
			<button type="submit">Save Bio</button>
		</form>
		<form asp-action="ChangeUsername" asp-controller="Home" method="post">
			@Html.AntiForgeryToken()
			<input name="username" type="text" placeholder="New username..."/>
			<button type="submit">Change username</button>
		</form>
		<form asp-action="ChangeEmail" asp-controller="Home" method="post">
			@Html.AntiForgeryToken()
			<input name="email" type="text" placeholder="New email..." />
			<button type="submit">Change Email</button>
		</form>
		<form asp-action="ChangeImage" asp-controller="Home" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<input type="file" name="image" accept="image/*"/>
		<button type="submit">Change image</button>
		</form>
	}
	else
	{
		<h3>@Model.User.UserName's bio: @Html.Raw(Model.User.Bio)</h3>
	}
	<h4>Role: @Model.User.Role</h4>
	if (Model.User.Role == UserRoles.Admin)
	{
		<h3 class="text-danger">@Model.User.UserName</h3>
	}
	else if (Model.User.Role == UserRoles.VIP)
	{
		<h3 class="text-warning">@Model.User.UserName</h3>
	}
	else if (Model.User.Role == UserRoles.Regular)
	{
		<h3 class="text-light">@Model.User.UserName</h3>
	}
	else if (Model.User.Role == UserRoles.Dinosaur)
	{
		<h3 class="text-primary">@Model.User.UserName</h3>
	}
	else
	{
		<h3 class="text-dark">@Model.User.UserName</h3>
	}
	if (GlobalVariables.adminNames.Contains(this.User.Identity.Name))
	{
		<h6>The user has: @Model.User.Warnings.Count warnings</h6>
		<form method="post" asp-action="GiveWarning" asp-controller="Admin" asp-route-userid="@Model.User.Id">
			@Html.AntiForgeryToken()
			<input name="content" placeholder="Reason for warning..." type="text"/>
			<button type="submit">Give warning</button>
		</form>
		<form asp-action="DeleteRepliesAndPosts" asp-route-userid="@Model.User.Id" asp-controller="Admin" method="post">
			@Html.AntiForgeryToken()
			<button type="submit">Delete Posts And Replies of User</button>
		</form>
	}
}
<h1>@Model.User.UserName</h1>
<h5>Posts count: @Model.User.PostsCount</h5>
@{
	foreach(var key in Model.userDate.Keys)
	{
		foreach(var post in Model.Posts)
		{
			if (post.Id == key)
			{
				<a asp-action="PostView" asp-route-id="@post.Id"><h4 style="font-weight:bold">Post: @post.Title</h4></a>
				<br />
				break;
			}
		}
		foreach(var reply in Model.Replies)
		{
			if (reply.Id == key)
			{
				<a asp-action="PostView" asp-route-id="@reply.Post.Id" asp-route-isFromProfile="true" asp-route-replyId="@HttpUtility.UrlEncode(reply.Id)"><h5>Reply: @reply.Content</h5></a>
				<br />
				break;
			}
		}
	}
	int previousPage = Model.Page - 1;
	int nextPage = Model.Page + 1;
	if (Model.AllPages == 1)
	{
		
	}
	else if (Model.Page==1)
	{
		<a asp-action="Profile" asp-route-userName="@Model.User.UserName" asp-route-page="@nextPage" asp-controller="Home">
			Next page
		</a>
	}
	else if (Model.Page == Model.AllPages)
	{

		<a asp-action="Profile" asp-route-userName="@Model.User.UserName" asp-route-page="@previousPage" asp-controller="Home">
			Previous page
		</a>
	}
	else
	{
		<a asp-action="Profile" asp-route-userName="@Model.User.UserName" asp-route-page="@previousPage" asp-controller="Home">
			Previous page
		</a>

		<a asp-action="Profile" asp-route-userName="@Model.User.UserName" asp-route-page="@nextPage" asp-controller="Home">
			Next page
		</a>
	}
}