@using NoFilterForum.Global_variables
@using NoFilterForum.Models.ViewModels
@model ProfileViewModel
@{
	if (Model.IsSameUser)
	{
		<h1>Hello!</h1>
		<h6>You have: @Model.User.Warnings warnings</h6>
	}
	if (GlobalVariables.adminNames.Contains(this.User.Identity.Name))
	{
		<h6>The user has: @Model.User.Warnings warnings</h6>
		<form method="post" asp-action="GiveWarning" asp-controller="Admin" asp-route-userid="@Model.User.Id">
		@Html.AntiForgeryToken()
		<button type="submit">Give Warning</button>
		</form>
	}
}
<h1>@Model.User.UserName</h1>
@{
	// Need to combine them or separate them into different pages
}
<h5>Posts count: @Model.User.PostsCount</h5>
@{
	foreach(var key in Model.userDate.Keys)
	{
		foreach(var post in Model.Posts)
		{
			if (post.Id == key)
			{
				<a asp-action="PostView" asp-route-id="@post.Id"><h4 style="font-weight:bold">@post.Title</h4></a>
				<br />
				break;
			}
		}
		foreach(var reply in Model.Replies)
		{
			if (reply.Id == key)
			{
				<a asp-action="PostView" asp-route-id="@reply.Post.Id"><h5>@reply.Content</h5></a>
				<br />
				break;
			}
		}
	}
}