@using System.Web
@using Core.Constants
@using Core.Enums
@using NoFilterForum.Core.Models.DataModels
@using Web.ViewModels
@using Web.ViewModels.Profile
@using Web.ViewModels.Warning

@model ProfileViewModel
<body class="bg-body-secondary">
	<div class="container border-2 border p-3 shadow border-black bg-white">
		@{
			<form asp-action="Create" asp-controller="Chat" method="post">
				@Html.AntiForgeryToken()
				<input hidden name="UserId" value="@Model.Profile.Id" />
				<button type="submit">Start chat</button>
			</form>
			<div class="row border-bottom border-2 border-black">
				<div class="col-10 border-end border-1 border-dark-subtle mb-2">
					<h4>Bio:</h4> <h3 class="fw-bold">@Html.Raw(Model.Profile.Bio)</h3>
					<partial name="_ChangeBio" model="new ChangeBioViewModel()" />
				</div>
				<div class="col-2 text-center align-self-center">
					<partial name="_RoleColor" model="new RoleViewModel(Model.Profile.Role,Model.Profile.Id,Model.Profile.UserName,false,Model.Profile.ImageUrl)" />

					<partial name="_UpdateImage" model="new UpdateImageViewModel()" />
				</div>
			</div>
			<div class="row">
				<div class="col-10 align-content-center">
					<h3 class="fs-4">@Model.Profile.Email</h3>
				</div>
				<div class="col-2">
					<h6 class="fst-italic text-center">@Model.Profile.DateCreated.ToShortDateString()</h6>
					<h6 class="text-danger fw-bold fst-italic text-center">@Model.Profile.WarningsCount warning(s)</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-8 text-start">
					<h3 class="fs-4 fw-bold">
						@Model.Profile.UserName
						<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsername" aria-expanded="false" aria-controls="collapseUsername">
							Change Username
						</button>
					</h3>
				</div>
				<div class="col-4 text-end">
					<partial name="_ChangeUsername" model="new ChangeUsernameViewModel()" />
				</div>
			</div>

			<div class="row">
				<div class="col-8 text-start">
					<h3 class="fs-4 fw-bold">
						@Model.Profile.Email
						<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
							Change Email
						</button>
					</h3>
				</div>
				<div class="col-4 text-end">
					<partial name="_ChangeEmail" model="new ChangeEmailViewModel()" />
				</div>
			</div>
			if (Model.IsSameUser)
			{
				if (!string.IsNullOrEmpty(ViewBag.Error))
				{
					<h1 style="color:red">@ViewBag.Error</h1>
				}
			}
			else
			{
				<h3>@Model.Profile.UserName's bio: @Html.Raw(Model.Profile.Bio)</h3>
			}
			if (UserConstants.adminNames.Contains(this.User.Identity.Name))
			{
				<h6>The user has: @Model.Profile.WarningsCount warnings</h6>
				<partial name="~/Views/Warnings/_CreateWarning.cshtml" model="new CreateWarningViewModel(){UserId=Model.Profile.Id}"></partial>
			}
		}
		<h5>Posts count: @Model.Profile.PostsCount</h5>
		@{
			<div class="border p-2 m-2">
				@{
					int count = 1;
				}
				@foreach (var key in Model.UserIdDate.Keys)
				{
					foreach (var post in Model.Posts)
					{
						if (post.Id == key)
						{
							if (count % 2 == 0)
							{

								<div class="border-bottom bg-body-secondary p-1">
									<a asp-action="Index" class="text-black text-center link-underline-opacity-10-hover link-underline-danger" asp-controller="Reply" asp-route-postId="@post.Id">
										<div class="row">
											<h5 class="text-center fw-bold fs-4">@post.Title</h5>
										</div>
									</a>
									<div class="row">
										<div class="text-center">

											@post.Created.ToShortDateString()
										</div>
									</div>
								</div>
								count++;
								break;
							}
							else
							{

								<div class="border-bottom p-1">
									<a asp-action="Index" class="text-black text-center link-underline-opacity-10-hover link-underline-danger" asp-controller="Reply" asp-route-postId="@post.Id">

										<div class="row">
											<h5 class="text-center fw-bold fs-4">@post.Title</h5>
										</div>
									</a>
									<div class="row">
										<div class="text-center">

											@post.Created.ToShortDateString()
										</div>
									</div>
								</div>
								count++;
								break;
							}
						}
					}
					foreach (var reply in Model.Replies)
					{
						if (reply.Id == key)
						{
							if (count % 2 == 0)
							{

								<div class="border-bottom p-1 bg-body-secondary">
									<a asp-action="Index" class="text-black link-underline-opacity-10-hover link-underline-danger" asp-controller="Reply" asp-route-postId="@reply.PostId" asp-route-replyId="@HttpUtility.UrlEncode(reply.Id)">

										<div class="row">
											<div class="col-6">
												<h5 class="fst-italic">@reply.Content</h5>

											</div>
											<div class="col-6">
												<h5 class="text-end fw-bold">@reply.PostTitle</h5>
											</div>
										</div>
									</a>
									<div class="row">
										<div class="col-2">

											@reply.Created.ToShortDateString()
										</div>
									</div>

								</div>
								count++;
								break;
							}
							else
							{

								<div class="border-bottom p-1 bg-white">
									<a asp-action="Index" class="text-black link-underline-opacity-10-hover link-underline-danger" asp-controller="Reply" asp-route-postId="@reply.PostId" asp-route-replyId="@HttpUtility.UrlEncode(reply.Id)">

										<div class="row">
											<div class="col-6">
												<h5 class="fst-italic">@reply.Content</h5>

											</div>
											<div class="col-6">
												<h5 class="text-end fw-bold">@reply.PostTitle</h5>
											</div>
										</div>
									</a>
									<div class="row">
										<div class="col-2">

											@reply.Created.ToShortDateString()
										</div>
									</div>

								</div>
								count++;
								break;
							}
						}
					}
				}
			</div>
			int previousPage = Model.Page - 1;
			int nextPage = Model.Page + 1;
			string encodedUsername = HttpUtility.UrlEncode(Model.Profile.UserName);
			string controllerName = "Profile";
			string actionName = "Index";
			<partial name="_Paging" model="new PagingViewModel(Model.Page,Model.TotalPages,controllerName,actionName,string.Empty,string.Empty,string.Empty,Model.Profile.Id)" />
		}

		@section Scripts {
			<partial name="_ValidationScriptsPartial" />
		}

	</div>

</body>