@using Web.ViewModels
@model LikeDislikeViewModel

@{
	<form asp-action="@Model.LikeDislike" asp-controller="@Model.PostReply" method="post">
		@Html.AntiForgeryToken()
		<input type="hidden" name="Id" value="@Model.Id" />
		<button type="submit" id="@string.Concat(Model.PostReply,Model.LikeDislike)" onclick="updatePostLikes()" style="@Model.ColorRed">@Model.LikeDislike</button>
	</form>
}