@using Web.ViewModels
@model LikeDislikeViewModel

<script src="~/js/JSLikesDislikes.js" asp-append-version="true"> </script>
@{
	<form asp-action="@(Model.IsLiked ? "Like" : "Dislike")" asp-controller="@(Model.IsPost ? "Post" : "Reply")" method="post">
		@Html.AntiForgeryToken()
		<input type="hidden" name="Id" value="@Model.Id" />
		<button type="submit" class="btn btn-secondary" id="@($"{Model.Label}_id_{Model.Id}")" onclick="@($"update{Model.Label}(`id_{Model.Id}`)")" style="@Model.Style">@Model.Label</button>
	</form>
}