@using Web.ViewModels
@model PagingViewModel
<nav aria-label="Page navigation example">
	<ul class="pagination">
		@if (Model.TotalPages > 1)
		{
			if (Model.HasPrevious)
			{
				<li class="page-item">
					<a class="btn btn-secondary" asp-action="@Model.ActionName"
					asp-controller="@Model.ControllerName"
					asp-route-page="@Model.PreviousPage"
					asp-route-title="@Model.TitleOfSection"
					asp-route-userName="@Model.Username"
					asp-route-postId="@Model.Id"
					asp-route-userId="@Model.UserId">&laquo;</a>
				</li>
			}
			if (Model.TotalPages > 2)
			{
				int page = Model.Page;
				int totalPages = Model.TotalPages;
				int count = 0;
				int maximumPagesToNavigate = 4;
				int startingPage = page - maximumPagesToNavigate;
				if (startingPage < 1)
				{
					startingPage = 1;
				}
				for(int i = startingPage; i < page; i++)
				{
					if (count == maximumPagesToNavigate)
					{
						break;
					}
					<li class="page-item">
						<a class="btn btn-secondary" asp-action="@Model.ActionName"
						asp-controller="@Model.ControllerName"
						asp-route-page="@i"
						asp-route-title="@Model.TitleOfSection"
						asp-route-userName="@Model.Username"
						asp-route-postId="@Model.Id"
						asp-route-userId="@Model.UserId">@i</a>
					</li>
					count++;
				}
				<li class="page-item">
					<a class="btn btn-outline-secondary disabled" asp-action="@Model.ActionName"
					   asp-controller="@Model.ControllerName"
					   asp-route-page="@Model.Page"
					   asp-route-title="@Model.TitleOfSection"
					   asp-route-userName="@Model.Username"
					   asp-route-postId="@Model.Id"
					   asp-route-userId="@Model.UserId">@Model.Page</a>
				</li>
				count = 0;
				for(int i = page + 1; i <= Model.TotalPages; i++)
				{

					if (count == maximumPagesToNavigate)
					{
						count = 0;
						break;
					}
					<li class="page-item">
						<a class="btn btn-secondary" asp-action="@Model.ActionName"
						   asp-controller="@Model.ControllerName"
						   asp-route-page="@i"
						   asp-route-title="@Model.TitleOfSection"
						   asp-route-userName="@Model.Username"
						   asp-route-postId="@Model.Id"
						   asp-route-userId="@Model.UserId">@i</a>
					</li>
					count++;
				}
			}
			if (Model.HasNext)
			{
				<li class="page-item">
					<a class="btn btn-secondary" asp-action="@Model.ActionName"
					   asp-controller="@Model.ControllerName"
					   asp-route-page="@Model.NextPage"
					   asp-route-title="@Model.TitleOfSection"
					   asp-route-userName="@Model.Username"
					   asp-route-postId="@Model.Id"
					   asp-route-userId="@Model.UserId">&raquo;</a>
				</li>
			}
		}
	</ul>
</nav>