@using Web.ViewModels
@model PagingViewModel

@if (Model.TotalPages > 1)
{
    if (Model.HasPrevious)
    {
        <a asp-action="@Model.ActionName"
           asp-controller="@Model.ControllerName"
           asp-route-page="@Model.PreviousPage"
           asp-route-title="@Model.TitleOfSection">Previous page</a>
    }
    if (Model.HasNext)
    {
        <a asp-action="@Model.ActionName"
           asp-controller="@Model.ControllerName"
           asp-route-page="@Model.NextPage"
           asp-route-title="@Model.TitleOfSection">Next page</a>
    }
}