@using Core.Enums
@using Web.ViewModels
@model RoleViewModel
@if (Model.ShouldRoute)
{
	<div class="d-flex justify-content-center align-items-center">

	<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-break pt-2 pb-2 text-decoration-none fw-bold fs-5 @Model.RoleColor">
		<img src="~/@Model.ImageUrl"  class="borderMain @Model.BorderColor rounded-1" width="100" height="100" />
		<h5>
			@Model.Username
		</h5>
		</a>

	</div>
}
else
{
	<img src="@Model.ImageUrl" class="borderMain @Model.BorderColor" width="70" height="70" />
	<h6 class="@Model.RoleColor text-break fw-bold">@Model.Username</h6>
}
