@using Core.Enums
@using Web.ViewModels
@model RoleViewModel
@if (Model.ShouldRoute)
{
	if (Model.Role == UserRoles.Admin)
	{
		<a asp-action="Index" class="fs-4" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-danger">@Model.Username</a>
	}
	else if (Model.Role == UserRoles.VIP)
	{
		<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-warning">@Model.Username</a>
	}
	else if (Model.Role == UserRoles.Regular)
	{
		<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-light">@Model.Username</a>
	}
	else if (Model.Role == UserRoles.Dinosaur)
	{
		<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-primary">@Model.Username</a>
	}
	else
	{
		<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-break text-dark text-decoration-none fw-bold fs-5">@Model.Username</a>
	}
}
else
{
	if (Model.Role == UserRoles.Admin)
	{
		<h6 class="text-danger text-break text-center fw-bold">@Model.Username</h6>
	}
	else if (Model.Role == UserRoles.VIP)
	{
		<h6 class="text-warning text-break text-center fw-bold">@Model.Username</h6>
	}
	else if (Model.Role == UserRoles.Regular)
	{
		<h6 class="text-light text-break text-center fw-bold">@Model.Username</h6>
	}
	else if (Model.Role == UserRoles.Dinosaur)
	{
		<h6 class="text-primary text-break text-center fw-bold">@Model.Username</h6>
	}
	else
	{
		<h6 class="text-dark text-break text-center fw-bold">@Model.Username</h6>
	}
}
