@using Core.Enums
@using Web.ViewModels
@model RoleViewModel
@if (Model.ShouldRoute)
{
	<a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId" class="text-break text-decoration-none fw-bold fs-5 @Model.RoleColor">
		<img src="~/@Model.ImageUrl" class="borderMain" width="125" height="125" />
		@Model.Username
	</a>
}
else
{
	<img src="@Model.ImageUrl" class="rounded-1 border-black border border-1" width="100" height="100" />
	<h6 class="@Model.RoleColor text-break fw-bold">@Model.Username</h6>
}
