@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Admin

@model ReportsViewModel

@foreach(var report in Model.Reports)
{
	<h4>@report.IdOfPostReply</h4>
	<h5>@report.UserTo.UserName</h5>
	<h5>@report.UserFrom.UserName</h5>
	<h3>@report.Content</h3>
	<form asp-action="Delete" asp-route-id="@report.Id" asp-controller="Report" method="post">
		@Html.AntiForgeryToken()
		<button type="submit">Delete report</button>
	</form>
}