@using Web.ViewModels.Admin
@using Web.ViewModels.Post
@model PinPostPartialViewModel

@{
	string postIdName = nameof(PinPostViewModel.PostId);
	string postIdValue = Model.PinPostVM.PostId; 
}
@if (Model.IsPinned)
{
	<form asp-action="PinPost" asp-controller="Admin" method="post">
		@Html.AntiForgeryToken()
		<input hidden name="@postIdName" value="@postIdValue" />
		<button type="submit" class="btn btn-secondary">Unpin post</button>
	</form>
}
else
{
	<form asp-action="PinPost" asp-controller="Admin" method="post">
		@Html.AntiForgeryToken()
		<input hidden name="@postIdName" value="@postIdValue" />
		<button type="submit" class="btn btn-secondary">Pin post</button>
	</form>
}