@using Web.ViewModels.Admin
@using Web.ViewModels.Post
@model PinPostPartialViewModel

@{
	string postIdName = nameof(PinPostViewModel.PostId);
	string postIdValue = Model.PinPostVM.PostId; 
}
@if (Model.IsPinned)
{
	<form asp-action="PinPost" asp-controller="Admin" method="post">
		@Html.AntiForgeryToken()
		<input hidden name="@postIdName" value="@postIdValue" />

		<button type="submit" class="rounded-1 borderSecondary"><img src="~/images/pin.png" /></button>
	</form>
}
else
{
	<form asp-action="PinPost" asp-controller="Admin" method="post">
		@Html.AntiForgeryToken()
		<input hidden name="@postIdName" value="@postIdValue" />
		<button type="submit" class="rounded-1 borderSecondary mt-1"style="position:absolute;"><img src="~/images/pin.png" style="height:11px;width:11px"/></button>
	</form>
}