@using System.Web
@using Core.Constants
@using Core.Enums
@using Microsoft.AspNetCore.Identity
@using NoFilterForum.Core.Models.DataModels
@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels
@using Web.ViewModels.Post
@model PostIndexViewModel
<style>
	.underlinehover {
	color: black;
	}

	.underlinehover:hover {
	color: gray;
	}
</style>
<body class="mainBG">
	@{
		<div class="container secondaryBG shadow p-3">

			<div class="text-end">
				<partial name="_CreatePost" model="new CreatePostViewModel(){TitleOfSection=Model.TitleOfSection}" />

		</div>
			@foreach (var post in Model.Posts)
			{
				// Add Description here
				<div class="row g-0 mt-2 borderTop borderBottom">
					<div class="col-8 me-2 ms-4 mt-2 align-self-center">
						<a asp-action="Index" style="text-decoration:none" asp-controller="Reply" asp-route-postId="@HttpUtility.UrlEncode(post.Id)" asp-route-titleOfSection="@Model.TitleOfSection">
							<div class="col underlinehover fs-5 fw-bold mainText">
								@post.Title
							</div>
							<div class="fs-6 fst-italic secondaryText text-truncate">
							@post.Body
							</div>
						</a>
					</div>
					<div class="col-1 text-center align-self-center fs-6 borderStart borderEnd">
						<div class="@post.ColorOfLikeDislike">
							@post.PostLikes
						</div>
					</div>
					<div class="col-2 mt-4 ms-5 text-center rounded-2">
						<partial name="_RoleColor" model="new RoleViewModel(post.Role,post.Id,post.Username,false, post.UserImageUrl)" />
					</div>
					<partial name="_ShowTime" model="new ShowTimeViewModel(post.DateCreated)" />
				</div>

				// check admin
				if (Model.IsAdmin)
				{
					<partial name="_PinPost" model="new PinPostPartialViewModel(post.IsPinned,post.Id)" />
				}
		<br />
		}
	</div>
	string controllerName = "Post";
	string actionName = "Index";
	<partial name="_Paging" model="new PagingViewModel(Model.Page,Model.TotalPages,controllerName,actionName,Model.TitleOfSection)" />
}
</body>
@section Scripts {
	<link rel="stylesheet" href="~/css/baseCSS.css" asp-append-version="true"/>
	<partial name="_ValidationScriptsPartial" />
}