@using System.Web
@using Core.Constants
@using Core.Enums
@using Microsoft.AspNetCore.Identity
@using NoFilterForum.Core.Models.DataModels
@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels
@using Web.ViewModels.Post
@model PostIndexViewModel
<style>
	.underlinehover {
	color: black;
	}

	.underlinehover:hover {
	color: gray;
	}
</style>
<head>
	<script src="~/js/JSMarkSeenPosts.js" asp-append-version="true"></script>
</head>
<body class="mainBG">
	@{
		<div class="container secondaryBG shadow p-3">

			<div class="text-end mb-1">
				<partial name="_CreatePost" model="new CreatePostViewModel(){TitleOfSection=Model.TitleOfSection}" />

			</div>
			@{
				bool isFirst = true;
				int count = 1;
			}
			@foreach (var post in Model.Posts)
			{
				<div class="row g-0 @(isFirst ? "borderTop" : string.Empty)  borderBottom" onload="markSeenPost('@post.Id')">

					@{
						// check admin
						if (Model.IsAdmin)
						{
							<partial name="_PinPost" model="new PinPostPartialViewModel(post.IsPinned,post.Id)" />
						}
						isFirst = false;
					}<div class="col-7 me-2 ms-4 mt-1 align-self-center">
						<a asp-action="Index" style="text-decoration:none" asp-controller="Reply" onclick="updateSeenState(event,'@post.Id')" asp-route-postId="@HttpUtility.UrlEncode(post.Id)">
							<div class="col underlinehover fw-bold mainText" id="@(post.Id)_title">
								<h5>@post.Title</h5>
							</div>
							<div class=" secondaryText truncate-multiline" style="font-size:15px" id="@(post.Id)_body">
								<h6>@Html.Raw(post.Body)</h6>
							</div>
						</a>
						<h6 class="mainText text-end mt-1" id="@(post.Id)_date"><partial name="_ShowTime" model="new ShowTimeViewModel(post.DateCreated)" /></h6>

						<script>
							markSeenPost(`@post.Id`);
						</script>
					</div>
					<div class="col-1 ms-5 mt-2 text-center align-self-center borderStart borderEnd">
						<h6 class="mainText mt-1">
							Likes: <span class="@post.ColorOfLikeDislike">@post.PostLikes</span>
						</h6>
					</div>
					<div class="col-1 mt-2 ms-5 text-center align-self-center borderStart borderEnd">
						<h6 class="mainText mt-1">
							Replies: <span class="@post.ColorOfRepliesCount">@post.RepliesCount</span>
						</h6>
					</div>
					<div class="col-1 mt-2 ms-5 text-center">
						<partial name="_RoleColor" model="new RoleViewModel(post.Role,post.Id,post.Username,false, post.UserImageUrl)" />

					</div>
				</div>
			}
	</div>
	string controllerName = "Post";
	string actionName = "Index";
	<partial name="_Paging" model="new PagingViewModel(Model.Page,Model.TotalPages,controllerName,actionName,Model.TitleOfSection)" />
}
</body>
@section Scripts {
	<link rel="stylesheet" href="~/css/baseCSS.css" asp-append-version="true"/>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/JSPostSeen.js" asp-append-version="true"></script>
}