@using System.Web
@using NoFilterForum.Core.Models.ViewModels

@model AdminPanelViewModel
@{
	if (Model.NotConfirmedExist)
	{
		<a asp-action="Reasons"><h2 style="color:red" class="font-monospace">You have non-confirmed users...</h2></a>
	}
	if (Model.HasReports)
	{
		<a asp-action="Reports" asp-controller="Admin"><h2 style="color:red" class="font-monospace">You have pending reports...</h2></a>
	}
	foreach(var user in Model.Users)
	{
		<a asp-action="Profile" asp-controller="Home" asp-route-userName="@HttpUtility.UrlEncode(user.Username)"><h4>@user.Username</h4></a>
		@if (user.WarningsCount >= 3)
		{
			<p style="color:red"><a asp-action="ShowWarnings" asp-controller="Admin" asp-route-id="@HttpUtility.UrlEncode(user.Id)">@user.Username has more than 2 warnings {@user.WarningsCount} (Click to view them)</a></p>			
		}
		<h5>@user.Email</h5>
		<h5>@user.Role</h5>
		<form asp-controller="Admin" asp-action="BanUser" asp-route-id="@user.Id" method="post">
		@Html.AntiForgeryToken()
		<button type="submit">Ban user</button>
		</form>
	}
}