@using System.Web
@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Admin

@model AdminPanelViewModel
<style>
	#reports:hover{
		color:var(--secondary-text-color);
	}

	a .mainText:hover {
		color: var(--secondary-text-color);
		text-decoration:underline;
	}
</style>
<body class="mainBG">
	<div class="container secondaryBG shadow">
		@{
			if (Model.NotConfirmedExist)
			{
				<a asp-action="Reasons"><h2 style="color:red" class="font-monospace">You have non-confirmed users...</h2></a>
			}
			if (Model.HasReports)
			{
				<a asp-action="Index" id="reports" asp-controller="Report" class="mainText"><h2>You have pending reports...</h2></a>
			}
			bool isFirst = true;
			foreach (var user in Model.Users)
			{

				<div class="@(isFirst ? string.Empty : "borderTop" ) pb-2 pt-2">
				<div class="row text-center">
						<h4><a asp-action="Index" asp-controller="Profile" class="text-decoration-none" asp-route-userId="@HttpUtility.UrlEncode(user.Id)"><span class="mainText @user.TextColorRole">@user.Username</span></a></h4>
						@if (user.WarningsCount >= 3)
						{
							<h5 class="mainText">
								@user.Username
								has more than 2 warnings {
								@user.WarningsCount
								}
								<a asp-action="Details" asp-controller="Warnings" asp-route-id="@HttpUtility.UrlEncode(user.Id)" class="secondaryText text-decoration-none">(Click here to view them)</a>

							</h5>
						}
					</div>
					<div class="row">
						<div class="col align-content-center flex-column borderEnd">

							<h5 class="mainText text-center">Email: <span class="secondaryText">@user.Email</span></h5>
							<h5 class="mainText text-center">Role: <span class="@user.TextColorRole">@user.Role</span></h5>
						</div>
						<div class="col d-flex align-items-center justify-content-center">
							<form asp-controller="Admin" asp-action="BanUser" method="post">
								@Html.AntiForgeryToken()
								<input hidden name="Id" value="@user.Id" />
								<button type="submit" class="secondaryBtn rounded-2 fs-4" style="height:50px;width:150px">Ban user</button>
							</form>

						</div>
					</div>
				</div>
				isFirst = false;
			}
		}
	</div>
</body>