@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Admin

@model ReasonsViewModel

@{
	foreach(var user in Model.Users)
	{
		<h4>@user.Email</h4>
		<h3>@user.Username</h3>
		<h6>@user.Reason</h6>
		<form asp-action="ConfirmUser" method="post">
		@Html.AntiForgeryToken()
		<input hidden name="UserId" value="@user.Id"/>
		<button type="submit">Confirm User</button>
		</form>
	}

}